result/*.csv
result/*.xlsx
*.pyc
*.json
*.png
*.log
.env
.idx/
.venv/
.vscode/launch.json
.vscode/settings.env
.vscode/
__pycache__/
__pycache__/*.pyc
settings.json
Data.sqlite
Data.sqlite-journal
chromedriver.exe
*.html